.container {
  display: grid;
  max-width: calc(98vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
  grid-gap: 16px;
  margin-block: 0;
  padding: 0;
  margin-inline: auto;
}

@media screen and (min-width: 719px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
  }
}
